* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    padding: 20px;
}

li {
    list-style: none;
}

#logo {

    height: 30px;
    width: 100px;
    padding: 25px;
}

ul {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

hr {
    width: 1000px;
    margin: 0 auto;
}

.texto {
    height: 400px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.texto-banner1 {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.categorias {
    display: flex;
    flex-direction: row;
}

.caixa-texto {
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    padding: 25px;
    align-items: center;
}

.texto-banner2 {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.botao {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 200px;
    height: 80px;
    justify-content: space-evenly;
}

.btn-menu1 {
    background-color: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 10px;
    color: #ff0000;
    height: 25px;
}

.btn-menu2 {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 10px;
    color: #ffffff;
    height: 25px;
}

.texto2{
    height: 400px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.texto-banner3 {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.categorias2{
    display: flex;
    flex-direction: row;
}

.caixa-texto2{
    height: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    padding: 25px;
    align-items: center;
}

.texto-banner4{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.botao2{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 200px;
    height: 80px;
    justify-content: space-evenly;
}

.btn-menu3 {
    background-color: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 10px;
    color: #ff0000;
    height: 25px;
}

.btn-menu4 {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 10px;
    color: #ffffff;
    height: 25px;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.estrutura-texto{
    width: 400px;
}